@charset "UTF-8";

body {
	padding-top: 70px;
}

/* Login */
body {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin input[type="submit"] {
	background-color: #6FB9DE;
	border-color: #6FB9DE;
}

/*!
 * Start Bootstrap - Resume v4.0.0-beta.2 (https://startbootstrap.com/template-overviews/resume)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-resume/blob/master/LICENSE)
 */
body {
	font-family: 'Open Sans', serif;
	padding-top: 54px;
}

.bg-primary {
	background-color: #957bbe !important;
}

.text-primary {
	color: #957bbe !important;
}

a {
	color: #957bbe;
}

a:hover, a:focus, a:active {
	color: #957bbe;
}

#sideNav .navbar-nav .nav-item .nav-link {
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
}

.nav-item-default {
	font-weight: 300;
	text-transform: uppercase;
	color: rgba(255,255,255,.5);
}

.nav-item-default:hover {
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
}

@media ( min-width : 992px) {
	body {
		padding-top: 0;
		padding-left: 17rem;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Saira Extra Condensed', serif;
		font-weight: 700;
		text-transform: uppercase;
		color: #000000;
	}
	h1 {
		font-size: 6rem;
		line-height: 5.5rem;
	}
	h2 {
		font-size: 3.5rem;
	}
	.subheading {
		text-transform: uppercase;
		font-weight: 500;
		font-family: 'Saira Extra Condensed', serif;
		font-size: 1.35rem;
	}
	.list-social-icons a {
		color: #495057;
	}
	.list-social-icons a:hover {
		color: #BD5D38;
	}
	.list-social-icons a .fa-lg {
		font-size: 1.75rem;
	}
	.list-icons {
		font-size: 3rem;
	}
	.list-icons .list-inline-item i:hover {
		color: #BD5D38;
	}
	#sideNav .navbar-nav .nav-item .nav-link {
		font-weight: 600;
		text-transform: uppercase;
		color: #ffffff;
	}
	@media ( min-width : 992px) {
		#sideNav {
			text-align: center;
			position: fixed;
			top: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			width: 17rem;
			height: 100vh;
		}
		#sideNav .navbar-brand {
			display: flex;
			margin: auto auto 0;
			padding: 0.5rem;
		}
		#sideNav .navbar-brand .img-profile {
			max-width: 10rem;
			max-height: 10rem;
			border: 0.5rem solid rgba(255, 255, 255, 0.2);
		}
		#sideNav .navbar-collapse {
			display: flex;
			align-items: flex-start;
			flex-grow: 0;
			width: 100%;
			margin-bottom: auto;
		}
		#sideNav .navbar-collapse .navbar-nav {
			flex-direction: column;
			width: 100%;
		}
		#sideNav .navbar-collapse .navbar-nav .nav-item {
			display: block;
		}
		#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
			display: block;
		}
	}
	section.resume-section {
		border-bottom: 1px solid #dee2e6;
		padding-top: 5rem !important;
		padding-bottom: 5rem !important;
	}
	section.resume-section .resume-item .resume-date {
		min-width: none;
	}
	@media ( min-width : 768px) {
		section.resume-section {
			min-height: 100vh;
		}
		section.resume-section .resume-item .resume-date {
			min-width: 18rem;
		}
	}
	@media ( min-width : 992px) {
		section.resume-section {
			padding-top: 3rem !important;
			padding-bottom: 3rem !important;
		}
	}
}


.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout+.bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de;
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}

.bd-callout-OfEvent {
    border-left-color: #957bbe
}

.bd-callout-OfEvent h4 {
    color: #957bbe;
}

/* edit format of button in "#957bbe" */
.EventBlack-background {background-color:#957bbe;}
.EventWhite {color:#ffffff;}
.EventBlack-background:hover {background-color:#8660c1;}
.EventWhite:hover {color:#ffffff;}

/* image loop */
.bg-image-loop {
	width: 100%;
	height: 120px; /* 画像の高さを指定 */
	position: relative;
	background: url("../uploads/YokohamaOfImgLoop.png") repeat-x 0 0;
	background-size: auto 100%;
	animation: bg-slider 80s linear infinite; /* 23sの部分背景画像の約数だとスムーズ */
	margin: 0px 0;
	padding: 0;
}
@keyframes bg-slider {
	from { background-position: 0 0; }
    to { background-position: -1518px 0; } /* 1518pxとは使用した背景画像の長さ */
}

/* animation of Icon */
.EventIcon{
animation: upDown 1.8s ease-in-out 0s infinite alternate;/* "upDown" of @keyframes upDown*/
}

@keyframes upDown{
	from{ transform:translate(0,2px); }
	to{ transform:translate(0,-2px); }
}
